body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    background-image: url(./From\ my\ Heart\ II.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.contenedor {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




